<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>NuevoAction</display-name>
    <servlet-name>NuevoAction</servlet-name>
    <servlet-class>servlet.NuevoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevoAction</servlet-name>
    <url-pattern>/NuevoAction</url-pattern>
  </servlet-mapping>
  <display-name>34_formacion_db</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>servlet.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/NuevoAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarAction</display-name>
    <servlet-name>BuscarAction</servlet-name>
    <servlet-class>servlet.BuscarAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarAction</servlet-name>
    <url-pattern>/BuscarAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarAction</display-name>
    <servlet-name>EliminarAction</servlet-name>
    <servlet-class>servlet.EliminarAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarAction</servlet-name>
    <url-pattern>/EliminarAction</url-pattern>
  </servlet-mapping>
</web-app>